@model SkillInventory.Models.ChartsViewModel;


@{
    var Role = ViewData["Role"] as string;
    ViewData["Title"] = "Employee";
    var role = ViewData["role"] as string;
    var username = ViewData["username"] as string;
    var TotalDepartment = ViewData["TotalDepartment"].ToString();
    var TotalEmployee = ViewData["TotalEmployee"].ToString();
    var TotalSkill = ViewData["TotalSkill"].ToString();
}



<section class="section">
    <div class="pagetitle">

        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col">
                <div class="row">
                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Skills <span></span></h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-stack"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Html.Encode(TotalSkill)</h6>
                                     

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!-- End Sales Card -->

                    <!-- Revenue Card -->

                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card revenue-card">
                            <div class="card-body">
                                <h5 class="card-title">Department <span></span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-diagram-3-fill"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Html.Encode(TotalDepartment)</h6>
                                       

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!-- End Revenue Card -->

                    <!-- Customers Card -->

                    <div class="col-xxl-4 col-md-6">
                        <div class="card info-card customers-card">
                            <div class="card-body">
                                <h5 class="card-title">Employee<span></span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Html.Encode(TotalEmployee)</h6>
                                        

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    <!-- End Customers Card -->

                </div>
            </div>
        </div>

        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reports</h5>

                    <!-- Default Tabs -->
                    <ul class="nav nav-tabs d-flex" id="myTabjustified" role="tablist">
                        @if (role == "TWFuYWdlcg==" || role == "QWRtaW4=")
                        {

                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100 active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-justified" type="button" role="tab" aria-controls="profile" aria-selected="false">Self</button>
                            </li>
                        }
                        @if (role == "TWFuYWdlcg==" || role == "QWRtaW4=")
                        {
                            <li class="nav-item flex-fill" role="presentation">
                                <button class="nav-link w-100 " id="home-tab" data-bs-toggle="tab" data-bs-target="#home-justified" type="button" role="tab" aria-controls="home" aria-selected="true">Team</button>
                            </li>
                        }


                    </ul>
                    <div class="tab-content pt-2" id="myTabjustifiedContent">
                        <div class="tab-pane fade show active" id="profile-justified" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="col-lg-6">

                                <h5 class="card-title">Pie Chart</h5>

                                <!-- Pie Chart -->
                                <div id="pieChartSelf"></div>
                                <script>
                                    document.addEventListener("DOMContentLoaded", () => {
                                        new ApexCharts(document.querySelector("#pieChartSelf"), {
                                            series: [@foreach (var item in @Model.SkillCount)
                                    {
                                        @item
                                    }],
                                            chart: {
                                                height: 350,
                                                type: 'pie',
                                                toolbar: {
                                                    show: true
                                                }
                                            },
                                            labels: [@foreach (var item in @Model.ProficiencyLevels)
                                    {
                                        @:'@item',
                                    }],
                                        }).render();
                                    });
                                </script>
                                <!-- End Pie Chart -->


                            </div>

                        </div>
                        @if (role == "TWFuYWdlcg==" || role == "QWRtaW4=")
                        {
                            <div class="tab-pane fade active" id="home-justified" role="tabpanel" aria-labelledby="home-tab">

                                <h5 class="card-title">Column Chart</h5>
                                <div class="col-lg-6">
                                    <!-- Column Chart -->
                                    <div id="columnChart"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", () => {
                                            new ApexCharts(document.querySelector("#columnChart"), {
                                                series: [{
                                                    name: 'Beginner',
                                                    data: [@foreach (var beginner in @Model.Beginner)
                                        {
                                            @beginner
                                        }]
                                                }, {
                                                    name: 'Intermediate',
                                                    data: [@foreach (var intermediate in @Model.Intermediate)
                                        {
                                            @intermediate
                                        }]
                                                }, {
                                                    name: 'Expert',
                                                    data: [@foreach (var expert in @Model.Expert)
                                        {
                                            @expert
                                        }]
                                                }],
                                                chart: {
                                                    type: 'bar',
                                                    height: 350
                                                },
                                                plotOptions: {
                                                    bar: {
                                                        horizontal: false,
                                                        columnWidth: '55%',
                                                        endingShape: 'rounded'
                                                    },
                                                },
                                                dataLabels: {
                                                    enabled: false
                                                },
                                                stroke: {
                                                    show: true,
                                                    width: 2,
                                                    colors: ['transparent']
                                                },
                                                xaxis: {
                                                    categories: [@foreach (var item in @Model.SkillNames)
                                        {
                                            @:'@item',
                                        }],
                                                },
                                                yaxis: {
                                                    title: {
                                                        text: '$ (thousands)'
                                                    }
                                                },
                                                fill: {
                                                    opacity: 1
                                                },
                                                tooltip: {
                                                    y: {
                                                        formatter: function (val) {
                                                            return "" + val + ""
                                                        }
                                                    }
                                                }
                                            }).render();
                                        });
                                    </script>

                                </div>
                                <!-- End Column Chart -->
                                <div class="col-lg-6">

                                    <h5 class="card-title">Pie Chart</h5>

                                    <!-- Pie Chart -->
                                    <div id="pieChart"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", () => {
                                            new ApexCharts(document.querySelector("#pieChart"), {
                                                series: [@foreach (var item in @Model.Employee)
                                        {
                                            @item
                                        }],
                                                chart: {
                                                    height: 350,
                                                    type: 'pie',
                                                    toolbar: {
                                                        show: true
                                                    }
                                                },
                                                labels: [@foreach (var item in @Model.SkillNames)
                                        {
                                            @:'@item',
                                        }],
                                            }).render();
                                        });
                                    </script>
                                    <!-- End Pie Chart -->


                                </div>
                            </div>
                        }


                    </div>
                </div>

            </div><!-- End Default Tabs -->

        </div>


    </section>
</section>

@section scripts{





}